#footer{
    max-width: var(--width);
    margin: 2rem 0 2rem auto;
    background-color: var(--background-green);
    color: var(--color-white);
    font-size: 24px;
    padding: 30px 20px 20px 20px;
}